body {
  background-color: #4682b4;
  margin: 0;
}

.grid-container {
  display: grid;
  background-color: #4682b4;
  grid-template-rows: 2fr 3fr 5fr; /* Row 1, Row 2 (flex), Row 3 */
  height: 100vh; /* Full height of the viewport */
}

.navbar {
  grid-area: 1 / 1 / 2 / 2; /* This sets the navbar to occupy the first row and first column */
  /* Light background color */
  padding: 1rem;
}

.dashboard {
  grid-area: 2 / 1 / 3 / 2; /* This sets the dashboard to occupy the second row and first column */
  display: flex;
  justify-content: space-evenly; /* Flexbox for side-by-side items */
  padding: 1rem;
}

.item {
  width: 30%;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.send-button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.pushable {
  background: hsl(120, 100%, 40%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(120, 100%, 70%);
  color: black;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.summary {
  grid-area: 3 / 1 / 4 / 2; /* Summary area */
  /* Light background color */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transaction {
  height: 90%;
  border-radius: 12px;
  background-color: white;
  width: 40%;
}

.pushable-orange {
  background: hsl(30, 100%, 50%); /* Orange shade for the button base */
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front-orange {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(30, 100%, 70%); /* Lighter orange for the button face */
  color: black;
  transform: translateY(-6px);
}

.rounded-table {
  border-radius: 12px;
  border-collapse: separate;
  overflow: hidden; /* Helps with rounded corners on table elements */
}
